body { 
  background-color: #2f3336; 
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #ddd;
  margin: 0;
}

a {
	color: #ddd;
	text-decoration: none;
}

.anchor {
	color: #ff786c;
}

.anchor:hover {
	color: #ee675b;
	text-decoration: underline;
}

.cyantext {
	color: #94fffa;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.logo {
	border-bottom: 3px groove #ff564a;
}

.redtext {
	color: #ff564a;
}

.contentheader {
	margin-top: 25px;
}

.mainnav ul {
	list-style-type: none;
	font-size: 23px;
	margin: 0;
	padding: 0;
}

.navtilemain {
	transition: transform 0.1s ease-in-out;
	color: #000;
	font-weight: 700;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.navtilemain:hover {
	transform: scale(0.98);
}

.navtile-news {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/news.png");
	margin: 30px;
}

.navtile-tutorials {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/tutorials.png");
	margin: 30px;
}

.navtile-competitions {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/competitions.png");
	margin: 30px;
}

.navtile-tanks {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/tanks.png");
	margin: 30px;
}

.navtile-replays {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/replays.png");
	margin: 30px;
}

.navtile-other {
	width: 350px;
	padding: 35px 0;
	background-image: url("img/other.png");
	margin: 30px;
}

.border {
	display: inline-block;
	width: 50px;
	border-bottom: 3px groove #ff564a;
}

.articletext {
	text-align: justify;
	width: 1000px;
	display: inline-block;
}

.footer {
	border-top: 3px groove #ff564a;
	padding: 15px;
	margin-top: 15px;
}

.back {
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
}